
{% load static %}
{% static "images" as baseUrl %}





<section id="header">
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <!-- The sr-only class is used to hide the text from screen readers -->
                    <span class="sr-only">Toggle navigation</span>
                    <!-- The icon-bar class is used to create the hamburger menu icon -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- The navbar-brand class is used to style the brand or logo -->
                 <a class="navbar-brand heading_tag" style="margin: -50px 0px 0px -40px;" href="Home"> <img src="{{headerLogoImage.url}}" alt="Rivaaz" width="200" height="150" class="img-fluid"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <!-- The active_tab class is used to style the active tab -->
                        <a class="tag_menu {% if request.path == '/Home' %}active_tab{% endif %}" href="Home">HOME</a>                    </li>
                     
                    <li>
                        <a class="tag_menu {% if request.path == '/About' %}active_tab{% endif %}" href="About">ABOUT</a>                    </li>
					
                    
					<li>
                        <a class="tag_menu {% if request.path == '/Testimonial' %}active_tab{% endif %}" href="Testimonial">TESTIMONIAL</a>                    </li>
					
					<li>
                        <a class="tag_menu {% if request.path == '/Gallery' %}active_tab{% endif %}" href="Gallery">GALLERY</a>                    </li>
					
					<li>
                        <a class="tag_menu {% if request.path == '/Services' %}active_tab{% endif %}" href="Services">SERVICES</a>                    </li>
						
					<li>
                        <a class="tag_menu {% if request.path == '/Team' %}active_tab{% endif %}" href="Team">TEAM</a>                    </li>
						
					<li>
                        <a class="tag_menu {% if request.path == '/Contact' %}active_tab{% endif %}" href="Contact">CONTACT</a>                    </li>
					
					
					
                </ul>
				 
            </div>
            
        </div>
        
    </nav>
</section>

<section id="header_mini">
  <div class="container">
    <div class="row">
      <div class="clearfix">
        <h1><a class="heading_tag" href="Home"><img src="{{headerLogoImage.url}}" alt="Rivaaz"
              width="100" height="100" class="img-fluid"></a></h1>
      </div>
      <a id="menu-toggle" href="#" class="btn btn-warning btn-lg toggle"><i class="fa fa-toggle-on"></i></a>

      <div id="sidebar-wrapper" class="">
        <ul class="sidebar-nav">
          <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i
              class="fa fa-remove"></i></a>
          <li class="sidebar-brand">
            <a class="heading_tag" href="Home">RIVAAZ</a>
          </li>
          <li>
            <a class="tag_menu {% if request.path == '/Home' %}active_tab{% endif %}" href="Home">HOME</a>
          </li>

          <li>
            <a class="tag_menu {% if request.path == '/About' %}active_tab{% endif %}" href="About">ABOUT</a>
          </li>

          {% comment %} <li>
            <a class="tag_menu {% if request.path == '/Contact' %}active_tab{% endif %}" href="Contact">" href="Blog">BLOG</a>
          </li> {% endcomment %}

          <li>
            <a class="tag_menu {% if request.path == '/Testimonial' %}active_tab{% endif %}" href="Testimonial">TESTIMONIAL</a>
          </li>

          <li>
            <a class="tag_menu {% if request.path == '/Gallery' %}active_tab{% endif %}" href="Gallery">GALLERY</a>
          </li>

          <li>
            <a class="tag_menu {% if request.path == '/Services' %}active_tab{% endif %}" href="Services">SERVICES</a>
          </li>

          <li>
            <a class="tag_menu {% if request.path == '/Team' %}active_tab{% endif %}" href="Team">TEAM</a>
          </li>

          <li>
            <a class="tag_menu {% if request.path == '/Contact' %}active_tab{% endif %}" href="Contact">CONTACT</a>
          </li>

        </ul>
      </div>

    </div>
  </div>
</section>



  
</script>



<style>

  @keyframes glow {
    0% {
        text-shadow: 0 0 10px #FFEB3B, 0 0 20px #FFEB3B, 0 0 30px #FFEB3B, 0 0 40px #FFEB3B, 0 0 50px #FFEB3B, 0 0 60px #FFEB3B, 0 0 70px #FFEB3B;
    }
    100% {
        text-shadow: 0 0 5px #FFEB3B, 0 0 10px #FFEB3B, 0 0 15px #FFEB3B, 0 0 20px #FFEB3B, 0 0 25px #FFEB3B, 0 0 30px #FFEB3B, 0 0 35px #FFEB3B;
    }
}

.tag_menu.active_tab {
    color: #FFEB3B; /* Change the text color to yellow */
    animation: glow 1s ease-in-out infinite alternate;
}

  #header_mini {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  #about {
    position: relative;
    z-index: 1;
  }

.tag_menu.active_tab {
  color: #FFEB3B; /* Change the text color to yellow */
  text-shadow: 0 0 10px #FFEB3B;
}


  #header_mini {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  #about {
    position: relative;
    z-index: 1;
  }
</style>




    {% block content %}{% endblock %}
{% comment %} <footer class="footer" style="background:#ffffff;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 style="font-family: 'Josefin Sans'; font-weight: bold; font-size:30px; padding-top: 25px; padding-bottom: 20px;">Get in touch</h5>
        <p style="font-size: 15px;">Rivaaz Events</p>
        <p style="font-size: 15px;">MTN, Dewali, Neemach Mata Scheme</p>
        <p style="font-size: 15px;">Udaipur, Rajasthan, India</p>
        <p style="font-size: 15px;">Phone: +91-9667175652 | +91-9214991141</p>
        <hr />
        <p style="font-size: 15px;">Andheri East, Near Book my show</p>
        <p style="font-size: 15px;">Mumbai, Maharashtra, India</p>
        <p style="font-size: 15px;">Phone: +91-6377633326</p>
        <hr />  
        <p style="font-size: 15px;">Email: Rivaaz.events1@gmail.com</p>
      </div>
      <div class="col-md-4" style="padding-left: 100px;">
        <h5 style="font-family: 'Josefin Sans'; font-weight: bold; font-size:30px; padding-top: 25px; padding-bottom: 20px;">Socials</h5>
        <ul class="list-unstyled">
          <li><a href="https://instagram.com/rivaaz_events_" style="font-size: 18px; color: #000; font-family: 'Josefin Sans';"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a href="https://www.facebook.com/profile.php?id=61550961458623&mibextid=2JQ9oc" style="font-size: 18px; color: #000;font-family: 'Josefin Sans';"><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a href="https://www.linkedin.com/company/rivaaz-events/" style="font-size: 18px; color: #000;font-family: 'Josefin Sans';"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          <li><a href="mailto: Rivaaz.events1@gmail.com" style="font-size: 18px; color: #000;font-family: 'Josefin Sans';"><i class="fa fa-google"></i> Gmail</a></li>
        </ul>
      </div>
       <div class="col-md-4" style="">
        <p style="text-align: center; padding-top: 125px; font-family: 'Josefin Slab Thin'; font-weight: bold; font-size:23px;">"Every event, a 'Rivaaz' masterpiece. <br> Your moments, our magic."</p>
      </div>
    </div>
    <hr />
    <!-- <div class="row">
      <div class="col-md-12">
        <p>"People make events into stories, stories give events meaning."</p>
      </div>
    </div> -->
    <!-- <hr /> -->
    <div class="row">
         <div class="col-md-6">
        <p>© 2003 Rivaaz Events. All rights reserved.</p>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item"><a href="#">Terms of Use</a></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
          <li class="list-inline-item"><a href="#">Disclaimer</a></li>
        </ul>
      </div>
    </div>
    
  </div>
</footer> {% endcomment %}

<footer class="footer" style="background-color: #f8f9fa; padding: 40px 0; font-size: 14px; color: #333; line-height: 1.6; box-shadow: 0px 1px 8px 1px #ffeb00;">
  
  <div class="container">
      <div class="row">
          <!-- Contact Information -->
          <div class="col-md-4" style="margin-bottom: 20px;">
              <h5 style="font-weight: bold; margin-bottom: 20px; font-size: 30px; color: #d3c51d">Get in Touch</h5>
              <p style="margin-bottom: 20px; font-size: 17px;">Rivaaz Events</p>
              <p style="margin-bottom: 20px; font-size: 17px;">MTN, Dewali, Neemach Mata Scheme, Udaipur, Rajasthan, India</p>
              <p style="font-size: 17px;"><span style="font-weight: bold;">Phone:</span> +91-9667175652 | +91-9214991141</p>

              <p style="font-size: 17px;"> <span style="font-weight: bold;">Email:</span> <a href="mailto:Rivaaz.events1@gmail.com" style="color: #333; text-decoration: none;">Rivaaz.events1@gmail.com</a></p>
          </div>

          <!-- Social Links -->
          <div class="col-md-4" style="margin-bottom: 20px;">
              <h5 style="font-weight: bold; margin-bottom: 20px; font-size: 30px; color: #d3c51d">Follow Us</h5>
              <ul class="list-unstyled">
                  <li style="margin-bottom: 20px; font-size: 16px;"><a href="https://instagram.com/rivaaz_events_" class="social-link" style="color: #333; text-decoration: none;"><i class="fa fa-instagram"></i> Instagram</a></li>
                  <li style="margin-bottom: 20px; font-size: 16px;"><a href="https://www.facebook.com/profile.php?id=61550961458623&mibextid=2JQ9oc" class="social-link" style="color: #333; text-decoration: none;"><i class="fa fa-facebook"></i> Facebook</a></li>
                  <li style="margin-bottom: 20px; font-size: 16px;"><a href="https://www.linkedin.com/company/rivaaz-events/" class="social-link" style="color: #333; text-decoration: none;"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
              </ul>
          </div>

          <!-- Quote or Additional Info -->
          <div class="col-md-4" style="margin-bottom: 20px;">
              <p style="font-size: 23px; color: #d3c51d">Every event, a 'Rivaaz' masterpiece. Your moments, our magic.</p>
          </div>
      </div>

      <hr style="border-color: #cbcb46;" />

      <!-- Footer Bottom -->
      <div class="footer-bottom" style="text-align: center; padding-top: 20px; color: #d3c51d">
          <p>© 2003 Rivaaz Events. All rights reserved.</p>
          <ul style="list-style: none; padding: 0; text-align: center;">
              <li style="display: inline; margin: 0 10px;"><a href="#" style="color: #333; text-decoration: none; transition: color 0.3s;">Terms of Use</a></li>
              <li style="display: inline; margin: 0 10px;"><a href="#" style="color: #333; text-decoration: none; transition: color 0.3s;">Privacy Policy</a></li>
              <li style="display: inline; margin: 0 10px;"><a href="#" style="color: #333; text-decoration: none; transition: color 0.3s;">Disclaimer</a></li>
          </ul>
      </div>
  </div>
</footer>





